In [26]:
import pandas as pd
import numpy as np

data = {
    'customer_id': [1, 2, 3, 3, 1],
    'product_key': [5, 5, 6, 6, 6]
}
customer_df = pd.DataFrame(data)
customer_df

   customer_id  product_key
0            1            5
1            2            5
2            3            6
3            3            6
4            1            6

In [27]:
customer_df.product_key.rolling(3).mean()

0         NaN
1         NaN
2    5.333333
3    5.666667
4    6.000000
Name: product_key, dtype: float64

In [28]:
np.where(customer_df.product_key == 5, 'x', 'y')

array(['x', 'x', 'y', 'y', 'y'], dtype='<U1')

In [33]:
employee = pd.DataFrame({
    'id': [101, 102, 103, 104, 105, 106, 107],
    'name': ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron', 'Jordan'],
    'department': ['A', 'A', 'A', 'A', 'A', 'B', 'B'],
    'managerId': [None, 101, 101, 101, 101, 101, 102]
})
managers = employee.managerId.value_counts()
employee[employee.id.isin(managers[managers>=5].index)]

    id  name department  managerId
0  101  John          A        NaN

In [23]:
products = pd.DataFrame({
    'product_id': [1, 2, 1, 1, 2, 3],
    'new_price': [20, 50, 30, 35, 65, 20],
    'change_date': ['2019-08-14', '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17', '2019-08-18']
})
display(products)
df = products[products.change_date <= '2019-08-16'].copy()
latest = df[df['change_date'] == df.groupby('product_id')['change_date'].transform('max')]
# df.groupby('product_id')['change_date'].transform('max')
# df
latest

   product_id  new_price change_date
0           1         20  2019-08-14
1           2         50  2019-08-14
2           1         30  2019-08-15
3           1         35  2019-08-16
4           2         65  2019-08-17
5           3         20  2019-08-18

   product_id  new_price change_date
1           2         50  2019-08-14
3           1         35  2019-08-16

In [25]:
products.groupby('product_id').sum(['price'])

            new_price
product_id
1                  85
2                 115
3                  20

In [255]:
my_numbers = pd.DataFrame({'num': [1, 2, 3, 3, 3, 1]})
my_numbers.count()

num    6
dtype: int64

In [256]:
my_numbers.value_counts()

num
3      3
1      2
2      1
Name: count, dtype: int64

In [257]:
my_numbers.nunique()

num    3
dtype: int64

In [118]:
df = my_numbers.reset_index().groupby('num').count().reset_index()
df.rename(columns={"index": 'count'}, inplace=True)
df[df['count'] > 1].num.max()#.sort_values(by='num', ascending=False)

3

In [258]:
logs = pd.DataFrame({'id': [1, 2, 3, 4, 5, 6],
                     'num': [1, 1, 1, 3, 3, 1]})
logs.sort_values(by='id', inplace=True)
logs['num1'] = logs.num.shift(1)
logs['num2'] = logs.num.shift(2)
logs['id1'] = logs.id.shift(1)
logs['id2'] = logs.id.shift(2)
logs

   id  num  num1  num2  id1  id2
0   1    1   NaN   NaN  NaN  NaN
1   2    1   1.0   NaN  1.0  NaN
2   3    1   1.0   1.0  2.0  1.0
3   4    3   1.0   1.0  3.0  2.0
4   5    3   3.0   1.0  4.0  3.0
5   6    1   3.0   3.0  5.0  4.0

In [6]:
logs = pd.DataFrame({'id': [1, 2, 3, 4, 5, 6],
                     'num': [1, 2, 3, 4, 5, 6]})
logs.sort_values(by='id', inplace=True)
del logs['id']
logs['shift(1)'] = logs.num.shift(1)
logs['shift(-1)'] = logs.num.shift(-1)
logs

   num  shift(1)  shift(-1)
0    1       NaN        2.0
1    2       1.0        3.0
2    3       2.0        4.0
3    4       3.0        5.0
4    5       4.0        6.0
5    6       5.0        NaN

In [287]:
df = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 3],
    'name': ['Jhon', 'Daniel', 'Jade', 'Khaled', 'Winston', 'Elvis', 'Anna', 'Maria', 'Jaze', 'Jhon', 'Jade'],
    'visited_on': ['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-10'],
    'amount': [100, 110, 120, 130, 110, 140, 150, 80, 110, 130, 150]
})
df = df.groupby('visited_on').sum('amount').reset_index()
df['daily_amount'] = df['amount']
df['amount'] = df['daily_amount'].rolling(7).sum().round(0)
df['average_amount'] = df['daily_amount'].rolling(7).mean().round(2)
del df['customer_id']
del df['daily_amount']
df

   visited_on  amount  average_amount
0  2019-01-01     NaN             NaN
1  2019-01-02     NaN             NaN
2  2019-01-03     NaN             NaN
3  2019-01-04     NaN             NaN
4  2019-01-05     NaN             NaN
5  2019-01-06     NaN             NaN
6  2019-01-07   860.0          122.86
7  2019-01-08   840.0          120.00
8  2019-01-09   840.0          120.00
9  2019-01-10  1000.0          142.86

In [288]:
df.dropna()

   visited_on  amount  average_amount
6  2019-01-07   860.0          122.86
7  2019-01-08   840.0          120.00
8  2019-01-09   840.0          120.00
9  2019-01-10  1000.0          142.86

In [272]:
df['average_amount'] = df['amount'].rolling(7).mean()
df

    customer_id     name  visited_on  amount  average_amount
0             1     Jhon  2019-01-01     100             NaN
1             2   Daniel  2019-01-02     110             NaN
2             3     Jade  2019-01-03     120             NaN
3             4   Khaled  2019-01-04     130             NaN
4             5  Winston  2019-01-05     110             NaN
5             6    Elvis  2019-01-06     140             NaN
6             7     Anna  2019-01-07     150      122.857143
7             8    Maria  2019-01-08      80      120.000000
8             9     Jaze  2019-01-09     110      120.000000
9             1     Jhon  2019-01-10     130      121.428571
10            3     Jade  2019-01-10     150      124.285714

# Simpson's Paradox
We run an experiment on two days. The first day we apply the treatment to 1% of users and the next day to 50% of users.

The treatment has a better success rate on both days, but when we average the result, it is worse overall due to to weighted averaging.

In [334]:
import numpy as np
import pandas as pd

success_list = []
failure_list = []

def run_experiment(p, num_simulations):
    simulations = np.random.binomial(n=1, p=p, size=num_simulations)
    successes = np.count_nonzero(simulations == 1)
    failures = np.count_nonzero(simulations == 0)
    success_list.append(successes)
    failure_list.append(failures)

run_experiment(p=0.5, num_simulations=500)
run_experiment(p=0.55, num_simulations=9500)
run_experiment(p=0.6, num_simulations=5000)
run_experiment(p=0.55, num_simulations=5000)

df = pd.DataFrame({
    "Treatment or Control": ["Treatment", "Control", "Treatment", "Control"],
    "Success": success_list, 
    "Failure": failure_list
})
df['Rate'] = (100*df['Success'] / (df['Success'] + df['Failure'])).round(0)
print("Daily Results:")
display(df)
print("\nWeighted Average Results:")
df.groupby('Treatment or Control').mean()

Daily Results:

  Treatment or Control  Success  Failure  Rate
0            Treatment      258      242  52.0
1              Control     5247     4253  55.0
2            Treatment     3016     1984  60.0
3              Control     2741     2259  55.0

Weighted Average Results:

                      Success  Failure  Rate
Treatment or Control
Control                3994.0   3256.0  55.0
Treatment              1637.0   1113.0  56.0

In [312]:
num_simulations = 5000

p = 0.023
simulations = np.random.binomial(n=1, p=p, size=num_simulations)
successes = np.count_nonzero(simulations == 1)
failures = np.count_nonzero(simulations == 0)
print(f'Rate: {successes / failures:.04f}, Successes: {successes}, Failures: {failures}')

p = 0.02
simulations = np.random.binomial(n=1, p=p, size=num_simulations)
successes = np.count_nonzero(simulations == 1)
failures = np.count_nonzero(simulations == 0)
print(f'Rate: {successes / failures:.04f}, Successes: {successes}, Failures: {failures}')

Rate: 0.0246, Successes: 120, Failures: 4880
Rate: 0.0198, Successes: 97, Failures: 4903

In [88]:
asteroids = [1,-1,-2,-2]
out = []
for i in range(len(asteroids)):
    if len(out) == 0:
        out.append(asteroids[i])
    else:
        left = out[-1]
        right = asteroids[i]
        while left:
            if (left<0 and right>0) or (left>0 and right>0) or (left<0 and right<0):
                out.append(right)
                break
            elif abs(left) == abs(right): 
                out.pop(-1)
                break
            elif abs(left) > abs(right):
                break
            else:
                out.pop(-1)
                if len(out) == 0:
                    out.append(right)
                    break
                else:
                    left = out[-1]
out

[-2, -2]

In [42]:
grid = [[0,0,1,1],
        [1,0,1,0],
        [1,1,0,0]]

In [31]:
grid[0][0] = 1

In [32]:
grid

[[1, 0, 1, 1], [1, 0, 1, 0], [1, 1, 0, 0]]

In [3]:
str1 = "ABCABC"
str2 = "ABC"
str1.split("ABC")

['', '', '']

In [14]:
str1 = "AAAAAA"
str2 = "AAA"

In [15]:
out = ''
if len(str1) < len(str2):
    for i in range(len(str1)):
        if all([s == '' for s in str2.split(str1[0:i+1])]):
            out = str1[0:i+1]
else:
    for i in range(len(str2)):
        if all([s == '' for s in str1.split(str2[0:i+1])]):
            out = str2[0:i+1]
out

'AAA'

In [16]:
[s == '' for s in str1.split(str2[0:i+1])]

[True, True, True]

In [21]:
len1, len2 = len(str1), len(str2)

def divisor(l):
    if len1 % l or len2 % l:
        return False
    f1, f2 = len1//l, len2//l
    return str1[:l]*f1==str1 and str1[:l]*f2==str2

for l in range(min(len1,len2),0,-1):
    if divisor(l):
        print(str1[:l])

AAA
A

In [30]:
flowerbed = [1,0,0,0,1,0,0]
count = 0
for i in range(len(flowerbed)-2):
    print(i, flowerbed[i:i+3], count)

    # Left edge
    if i == 0:
        window = flowerbed[i:i+2]
        if sum(window) == 0:
            count += 1
            flowerbed[0] = 1

    # Right edge
    if i == (len(flowerbed)-2):
        window = flowerbed[i+1:i+3]
        if sum(window) == 0:
            count += 1
            flowerbed[i+3] = 1

    # Middle
    window = flowerbed[i:i+3]
    if sum(window) == 0:
        count += 1
        flowerbed[i+1] = 1

0 [1, 0, 0] 0
1 [0, 0, 0] 0
2 [1, 0, 1] 1
3 [0, 1, 0] 1
4 [1, 0, 0] 1

In [45]:
str1 = s1 = "ABCABC"
str2 = s2 = "ABC"
s2 * 2

'ABCABC'

In [44]:
longest = max(len(s1), len(s2))
l1, l2 = longest//len(s1),  longest//len(s2)
s1*l1 == s2*l2

True

In [54]:
import math 
math.gcd(len(str1), len(str2))

5

In [53]:
str1 = "TAUXXTAUXXTAUXXTAUXXTAUXX"
str2 = "TAUXXTAUXXTAUXXTAUXXTAUXXTAUXXTAUXXTAUXXTAUXX"

In [ ]:
def can_construct_from_repeated_substring(string, substring):
    repeated_times = len(string) // len(substring)
    return substring * repeated_times == string

gcd = math.gcd(len(str1), len(str2))
if len(str1) <= len(str2):
    candidate = str1[:gcd]
    if can_construct_from_repeated_substring(str1, candidate) and can_construct_from_repeated_substring(str2, candidate):
        return candidate
    else:
        return ""
else:
    candidate = str2[:gcd]
    if can_construct_from_repeated_substring(str1, candidate) and can_construct_from_repeated_substring(str2, candidate):
        return candidate
    else:
        return ""

In [128]:
import heapq
data = [1, 3, 5, 7, 9, 2, 4, 6, 8, 0]
smallest = heapq.nsmallest(3, data)
print(smallest) # Output: [0, 1, 2]

[0, 1, 2]

In [96]:
nums = [3,2,1,5,6,4]
k = 2
heapq.nlargest(k, nums)[-1]

5

In [132]:
heapq.heappush([], 1)

In [135]:
m = 3
n = 7
curr_row = [1] * n
prev_row = [1] * n

for i in range(1, m):
    for j in range(1, n):
        curr_row[j] = curr_row[j - 1] + prev_row[j]
    curr_row, prev_row = prev_row, curr_row

curr_row

[1, 2, 3, 4, 5, 6, 7]

In [136]:
prev_row

[1, 3, 6, 10, 15, 21, 28]

In [137]:
dp = [1] * n
for i in range(1, m):
    for j in range(1, n):
        dp[j] += dp[j-1] 
dp

[1, 3, 6, 10, 15, 21, 28]

In [131]:
myset = heapq.heapify([])
if 1 in myset:
    print(1)

TypeError: argument of type 'NoneType' is not iterable

In [143]:
n=4
t0 = 0
t1 = 1
t2 = 1
next_t = 0
for _ in range(n-2):
    print(_)
    if next_t%3 == 0:
        t0 = t0 + t1 + t2
    elif next_t%3 == 1:
        t1 = t0 + t1 + t2
    else: # next_t%3 == 2:
        t2 = t0 + t1 + t2
    next_t += 1
t2

0
1

1

In [213]:
costs = [28,35,21,13,21,72,35,52,74,92,25,65,77,1,73,32,43,68,8,100,84,80,14,88,42,53,98,69,64,40,60,23,99,83,5,21,76,34]
k = 32
n = 12

In [214]:
len(costs[R:]), costs[R:]

(12, [98, 69, 64, 40, 60, 23, 99, 83, 5, 21, 76, 34])

In [215]:
costs[R-1]

53

In [216]:
len(costs[:L+1]), costs[:L+1]

(12, [28, 35, 21, 13, 21, 72, 35, 52, 74, 92, 25, 65])

In [217]:
costs[L+1]

77

In [242]:
costs = [17,12,10,2, 7, 2,2,20,8]
k = 9
n = 4

In [243]:
total_cost = 0
L = n - 1
R = len(costs) - n

In [236]:
heap = costs if n*2 >= len(costs) else costs[:L+1] + costs[R+1:]
heapq.heapify(heap)

for _ in range(k):
    print(total_cost, L, R, heap)
    total_cost += heapq.heappop(heap)
    if L <= R:
        L += 1
        heapq.heappush(lheap, costs[L])
    else: # min(lheap) <= min(rheap):
        total_cost += heapq.heappop(rheap)
        R -= 1
        if R >= L:
            heapq.heappush(rheap, costs[R])
total_cost

0 3 5 [2, 12, 10, 17] [2, 20, 8]
2 4 5 [7, 10, 17, 12] [2, 20, 8]
4 4 4 [7, 10, 17, 12] [7, 20, 8]
11 5 4 [10, 12, 17] [7, 20, 8]
18 5 3 [10, 12, 17] [8, 20]
26 5 2 [10, 12, 17] [20]
36 6 2 [12, 17] [20]
48 7 2 [17] [20]
65 8 2 [] [20]

ValueError: min() arg is an empty sequence

In [251]:
if n*2 >= len(costs):
    lheap = costs
    heapq.heapify(lheap)
    rheap = None
else:
    lheap = costs[:L+1]
    rheap = costs[R:]
    heapq.heapify(lheap)
    heapq.heapify(rheap)

for _ in range(k):
    print(total_cost, L, R, lheap, rheap)
    if rheap is None or min(lheap) <= min(rheap):
        total_cost += heapq.heappop(lheap)
        L += 1
        if L <= R:
            heapq.heappush(lheap, costs[L])
        else:
            heapq.merge(lheap, rheap)
            rheap = None
    else:
        total_cost += heapq.heappop(rheap)
        R -= 1
        if R >= L:
            heapq.heappush(rheap, costs[R])

52 8 3 [2, 2, 2, 8, 7, 17, 10, 20, 12] [2, 2, 2, 7, 20, 8]
54 9 3 [2, 2, 10, 8, 7, 17, 12, 20] None
56 10 3 [2, 7, 10, 8, 20, 17, 12] None
58 11 3 [7, 8, 10, 12, 20, 17] None
65 12 3 [8, 12, 10, 17, 20] None
73 13 3 [10, 12, 20, 17] None
83 14 3 [12, 17, 20] None
95 15 3 [17, 20] None
112 16 3 [20] None

In [250]:
heapq.merge(lheap, rheap)

In [248]:
lheap

[2, 2, 2, 8, 7, 17, 10, 20, 12]

In [178]:
L, R, costs[L], len(costs)

(6, 4, 11, 9)

In [163]:
[i for i in range(len(costs)-2, len(costs))]

[36, 37]

In [161]:
for i, cost in zip(indexes, candidates):
    print(i, cost==lowest_cost)

0 False
1 False
2 False
3 False
4 False
5 False
6 False
7 False
8 False
9 False
10 False
11 False
36 False
37 False

In [151]:
for i in range(len(costs)-2, len(costs)):
    print(costs[i])

1
2

In [98]:
spells = [5,1,3]
potions = [1,2,3,4,5]
success = 7

In [109]:
out = [0]*len(spells)
potions = sorted(potions)
Rj = len(potions) - 1
for i, spell in enumerate(spells):
    count = 0
    L = 0
    R = Rj
    while L <= R:
        M = (L+R) // 2
        if potions[M] * spell < success:
            L = M + 1
        else:
            R = M - 1
    # print(L, R, M)
    print(len(potions[L:]), len(potions[R:]), len(potions[M:]))
    out[i] = len(spells[M:])

4 5 4
0 1 1
3 4 4

In [113]:
out = [0]*len(spells)

spell_index = {}
for i, s in enumerate(spells):
    list_of_indexes = spell_index.get(s, [])
    list_of_indexes.append(i)
    spell_index[s] = list_of_indexes

spells = sorted(spells)
potions = sorted(potions)
best_R = len(potions) - 1 
for spell in spells:
    L = 0
    R = best_R
    while L <= R:
        M = (L + R) // 2
        if potions[M] * spell < success:
            L = M + 1
        else:
            best_R = R
            R = M - 1
    print(len(potions[L:]))
    for i in spell_index[s]:
        out[i] = len(potions[L:])

0
3
4

In [123]:
import bisect
n = len(potions)

In [117]:
spells[i]

5

In [126]:
potions[1]

2

In [127]:
out = [0]*10
out[[1, 2]]

TypeError: list indices must be integers or slices, not list

In [116]:
math.ceil(success/spells[i])

2

In [ ]:
bisect.bisect_left(potions, math.ceil(success/spells[i]))

In [1]:
nums = [1, 1, 2, 3, 4]
nums.count(1)

2

In [37]:
s = "hello"
sum([abs(ord(a) - ord(b)) for a,b in zip(s[1:], s[:-1])])

13

In [45]:
import math
math.ceil(5 / 2)

3

In [46]:
5 / 2

2.5

In [50]:
chr(ord('a'))

'a'

In [51]:
s = 'charizard'
s[3]

'r'

In [69]:
set(s)

{'a', 'c', 'd', 'h', 'i', 'r', 'z'}

In [71]:
words = ["bella","label","roller"]

arr = []
l = set(words[0])
for i in l:
    t = min(w.count(i) for w in words)
    arr += [i]*t
    
arr

['l', 'l', 'e']

In [99]:
nums = [3,2,1,2,1,7]
nums = sorted(nums)
count = 0
L = nums[0]
for i in range(1, len(nums[1:])):
    print(L, nums[i], count)
    if L == nums[i]:
        # count += 
        nums[i] += 1
    L = nums[i]

count

1 1 0
2 2 1
3 2 2
2 3 2

2

In [95]:
nums = [3,2,1,2,1,7]
# sorted(nums)[1:]
sorted(nums)

[1, 1, 2, 2, 3, 7]

In [112]:
import math

def judgeSquareSum(c):
    L = 0
    R = int(math.sqrt(c))
    while L <= R:
        curr = L**2 + R**2
        if curr == c:
            return True
        if curr < c:
            L += 1
        else:
            R -= 1
    return False

judgeSquareSum(c=2147482647)

False

In [123]:
def isBadVersion(m):
    if m >= 1:
        return True
    else:
        return False
        
n = 1
L = 0
R = n-1
first = 0
while L <= R:
    m = (R+L) // 2
    print(R, L, m, isBadVersion(m))
    if isBadVersion(m) == False:
        L = m+1
    else:
        first = m
        R = m-1
print(R, L, m, isBadVersion(m))

0 0 0 False
0 1 0 False

In [109]:
c = 6

L = 0
R = c // 2
curr = L**2 + R**2 
# if diff == 1:
#     return True
# diff // 2, diff, b**2, c
curr

9

In [ ]:
min(w.count(i) for w in words)

In [63]:
for i, c in enumerate(s):
    print(i)

0
1
2
3
4
5
6
7
8

In [81]:
nums = [4,5,0,-2,-3,1]
k = 5
out = []
diff = sum(nums) % k
diff

0

In [82]:
if diff == 0:
    out.append(nums)

In [79]:
from collections import deque
nums = deque(nums)
nums.popleft()

5

In [83]:
out

[[4, 5, 0, -2, -3, 1]]

In [124]:
from scipy.stats import poisson

# Observed number of infections
observed_infections = 10

# Expected number of infections under the null hypothesis
expected_infections = 0.01 * 1787

# Calculate the p-value for the one-sided test
p_value = poisson.cdf(observed_infections, expected_infections)

print(f"P-value: {p_value:.4f}")

P-value: 0.0324

In [159]:
customers = [1,0,1,2,1,1,7,5]
grumpy =    [0,1,0,1,0,1,0,1]
minutes = 3
# customers = [5,8]
# grumpy =    [0,1]
# minutes = 1

L = 0
best_window = curr_window =  total = 0
for i in range(len(grumpy)):
    if grumpy[i] == 0:
        total += customers[i]
    else:
        curr_window += customers[i]
        while i - L >= minutes:
            curr_window -= grumpy[L] * customers[L]
            L += 1
        best_window = max(best_window, curr_window)

    print(curr_window, L, i)
    print(customers[L:i+1])
        
total, best_window

0 0 0
[1]
0 0 1
[1, 0]
0 0 2
[1, 0, 1]
2 1 3
[0, 1, 2]
2 1 4
[0, 1, 2, 1]
3 3 5
[2, 1, 1]
3 3 6
[2, 1, 1, 7]
6 5 7
[1, 7, 5]

(10, 6)

In [160]:
nums = [2,2,2,1,2,2,1,2,2,2]
k = 2

for i in range(len(nums)):
    nums[i] %= 2

prefix_count = [0] * (len(nums) + 1)
prefix_count[0] = 1
s = 0
ans = 0

for num in nums:
    s += num
    if s >= k:
        print(prefix_count[s - k])
        ans += prefix_count[s - k]
    prefix_count[s] += 1

ans

4
4
4
4

16

In [161]:
prefix_count

[4, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0]